.bagel-listing {
    max-width: 350px;
    box-shadow: 0 2px 2px hsl(0, 0%, 80%);
    padding: 1rem;
    margin-bottom: 1rem;
}

.bagel-listing .information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bagel-listing i {
    cursor: pointer;
}
.bagel-listing i+i {
    margin-left: 0.5rem;
}
.fa-times-circle {
    color: hsl(0, 50%, 40%);
}
.fa-pencil {
    color: hsl(220, 0%, 40%);
}
.fa-pencil.active {
    color: hsl(220, 50%, 40%);
}
